<UltimoConfigurationFile>
	<Configuration Name="default">
		<Maps>
			<Map Name="default">
				<MapSetting Name="MapPath" Value="http://edemo2.esri.nl/arcgis/rest/services/Ultimo/NijkerkerbrugWS/MapServer" />
				<MapSetting Name="MapKey" Value="AhqDCxEeXJzM7PH1ElSG0AGve-W-ZIN3uNPBYTWUBBSn0YnyWBlsDe7yg4J16b-3" />
				<MapSetting Name="MapWellKnownId" Value="102100" />
			</Map>
		</Maps>
	</Configuration>
</UltimoConfigurationFile>