<UltimoConfigurationFile>
	<Configuration Name="default">
		<Declarations>
			<Toolbars>
				<Toolbar Name="Layers">
					<Button Name="ShowLayerWindow" Image="..." Command="Layers_ShowWindow" />
				</Toolbar>
			</Toolbars>
		</Declarations>
		<ViewConfigurations>
			<ViewConfiguration Name="Default">
				<Settings>
					<Setting Name="Test" Value="12345" />
				</Settings>
				<Toolbars>
					<Toolbar Name="Layers" Declared="true" />
					<Toolbar Name="File">
						<Button Name="Save" image="..." Command="Drawing_Save" />
					</Toolbar>
				</Toolbars>
			</ViewConfiguration>
		</ViewConfigurations>
	</Configuration>
</UltimoConfigurationFile>