<UltimoConfigurationFile>
	<Configuration Name="defaultss">
		<DatabaseName Value="Ultimo10-73-0237964" />
		<DatabaseServerName Value=".\SQL2008" />
		<Provider Value="sqlserver2008" />
		<UserName Value="sa" />
		<Password Value="s" />
		<Schema Value="dba" />
	</Configuration>

	<Configuration Name="defaultdsad">
		<DatabaseName Value="COGASRAN" />
		<DatabaseServerName Value="VMWORACLE03.ishbv.nl" />
		<Provider Value="Oracle11G" />
		<UserName Value="ISH" />
		<Password Value="ish" />
	</Configuration>
	
	<Configuration Name="defaultxx">
		<DatabaseName Value="zorggroepnoorderbreedte" />
		<DatabaseServerName Value=".\SQL2008" />
		<Provider Value="sqlserver2008" />
		<UserName Value="sa" />
		<Password Value="s" />
	</Configuration>


	<Configuration Name="defaultyyy">
		<DatabaseName Value="ultimoinside-production" />
		<DatabaseServerName Value="hhn990\SQL2014" />
		<Provider Value="sqlserver2014" />
		<UserName Value="sa" />
		<Password Value="s" />
	</Configuration>
  
  <Configuration Name="defaultff">
    <DatabaseName Value="bravis" />
    <DatabaseServerName Value="NGK9020\SQL2012" />
    <Provider Value="sqlserver2012" />
    <UserName Value="sa" />
    <Password Value="s" />
    <Schema Value="dba" />
  </Configuration>
  
	<Configuration Name="defaultins">
 		<DatabaseName Value="Ultimoinside-acceptance" />
		<DatabaseServerName Value="Vmwinside02\sql2014" />
		<Provider Value="SqlServer2014" />
		<UserName Value="sa" />
		<Password Value="#9G#ZxMhs#zZqn7" />	 
	</Configuration>



	<Configuration Name="defaultxx">
		<DatabaseName Value="IJsselheem" />
		<DatabaseServerName Value="RNN9020\SQL2014" />
		<Provider Value="SqlServer2012" />
		<UserName Value="sa" />
		<Password Value="s" />
	</Configuration>

	<Configuration Name="defaultxx">
		<DatabaseName Value="UFM_17_03_00_jenkins-17-03-00-Stable-49" />
		<DatabaseServerName Value="devsql2014\sql2014" />
		<Provider Value="SqlServer2012" />
		<UserName Value="sa" />
		<Password Value="s" />
	</Configuration>
	
	<Configuration Name="default">
		<DatabaseName Value="Ultimo17-05" />
		<DatabaseServerName Value=".\SQL2014" />
		<Provider Value="sqlserver2014" />
		<UserName Value="sa" />
		<Password Value="s" />
		<Schema Value="dba" />
	</Configuration>


</UltimoConfigurationFile>
