<UltimoConfigurationFile>
	<Configuration Name="default">
		<ViewConfigurations>
			<ViewConfiguration Name="HourRegistration_AF286_Default">
				<Settings>
					<BookHours Value="true" />
					<UseReleaseCondition Value="true" />
				</Settings>
			</ViewConfiguration>
		</ViewConfigurations>
	</Configuration>
</UltimoConfigurationFile>