<UltimoConfigurationFile>
	<Configuration Name="default">
	<FileServiceLocation Value="net.tcp://localhost:8736/" />
	<ServiceAddress Value="net.tcp://localhost:8736/" />
	<UserName Value="user1" />
	<Password Value="0106CFADB814769F26BD01036DCAE181A32B1D85B5B14037D71AF86B37C1E13A3890" />
	</Configuration>
</UltimoConfigurationFile>