<UltimoConfigurationFile>
  <Configuration Name="default">
	<GlobalProperties>
	  <LogFileDirectory Value="C:\UltimoLog" />
	</GlobalProperties>
	<Logs>
	  <Log Name="NHibernate.SQL">
		<Logger Name="MessageQueueLogger" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\ErrorQueue" />
		</Logger>
		<Logger Name="ReportingMessageQueueLogger" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\LogQueue" />
		</Logger>
	  </Log>
	  <Log Name="Ultimo.Command">
		<Logger Name="MessageQueueLogger" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\ErrorQueue" />
		</Logger>
		<Logger Name="ReportingMessageQueueLogger" Type="MessageQueueLogger" LogLevel="All" Enabled = "False">
		  <QueueName Value=".\private$\LogQueue" />
		</Logger>
	  </Log>
	  <Log Name="Ultimo.DatabaseMetadata">
		<Logger Name="MessageQueueLogger" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\ErrorQueue" />
		</Logger>
		<Logger Name="ReportingMessageQueueLogger" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\LogQueue" />
		</Logger>
	  </Log>
	  <Log Name="Ultimo.Workflow">
		<Logger Name="MessageQueueLogger" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\ErrorQueue" />
		</Logger>
		<Logger Name="ReportingMessageQueueLoggerError" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\LogQueue" />
		</Logger>
		<Logger Name="ReportingMessageQueueLoggerInfo" Type="MessageQueueLogger" LogLevel="Info" Enabled = "False">
		  <QueueName Value=".\private$\LogQueue" />
		</Logger>
	  </Log>
	  <Log Name="Ultimo.FileService">
		<Logger Name="MessageQueueLogger" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\ErrorQueue" />
		</Logger>
		<Logger Name="ReportingMessageQueueLogger" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\LogQueue" />
		</Logger>
	  </Log>
	  <Log Name="Ultimo.FileServiceClient">
		<Logger Name="MessageQueueLogger" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\ErrorQueue" />
		</Logger>
		<Logger Name="ReportingMessageQueueLogger" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\LogQueue" />
		</Logger>
	  </Log>
	  <Log Name="Ultimo.ReportService">
		<Logger Name="MessageQueueLogger" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\ErrorQueue" />
		</Logger>
		<Logger Name="ReportingMessageQueueLogger" Type="MessageQueueLogger" LogLevel="All" Enabled = "False">
		  <QueueName Value=".\private$\LogQueue" />
		</Logger>
	  </Log>
	  <Log Name="Ultimo.ReportServiceClient">
		<Logger Name="MessageQueueLogger" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\ErrorQueue" />
		</Logger>
		<Logger Name="ReportingMessageQueueLogger" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\LogQueue" />
		</Logger>
	  </Log>
	  <Log Name="Ultimo.Web">
		<Logger Name="MessageQueueLogger" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\ErrorQueue" />
		</Logger>
		<Logger Name="ReportingMessageQueueLogger" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\LogQueue" />
		</Logger>
	  </Log>
	  <Log Name="Ultimo.Web.Statistics">
		<Logger Name="ReportingMessageQueueLogger" Type="MessageQueueLogger" LogLevel="All" Enabled = "False">
		  <QueueName Value=".\private$\LogQueue" />
		</Logger>
	  </Log>
	  <Log Name="Ultimo.CadService">
		<Logger Name="MessageQueueLogger" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\ErrorQueue" />
		</Logger>
		<Logger Name="ReportingMessageQueueLogger" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\LogQueue" />
		</Logger>
	  </Log>
	  <Log Name="Ultimo.EventManager">
		<Logger Name="MessageQueueLogger" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\ErrorQueue" />
		</Logger>
		<Logger Name="ReportingMessageQueueLogger" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\LogQueue" />
		</Logger>
	  </Log>
	  <Log Name="ExceptionLog">
		<Logger Name="MessageQueueLogger" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\ErrorQueue" />
		</Logger>
		<Logger Name="ReportingMessageQueueLogger" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\LogQueue" />
		</Logger>
	  </Log>
	  <Log Name="Ultimo.VBScript">
		<Logger Name="MessageQueueLogger" Type="MessageQueueLogger" LogLevel="Error" Enabled = "False">
		  <QueueName Value=".\private$\ErrorQueue" />
		</Logger>
		<Logger Name="ReportingMessageQueueLogger" Type="MessageQueueLogger" LogLevel="All" Enabled = "False">
		  <QueueName Value=".\private$\LogQueue" />
		</Logger>
	  </Log>
	</Logs>
  </Configuration>
</UltimoConfigurationFile>