<UltimoConfigurationFile>
	<Configuration Name="default">
		<!--
		<Extension Name="pdf">
			<CommandLine>
				<ApplicationPath Value="C:\Program Files\Ghostgum\gsview\gsprint.exe" />
				<Arguments Value="-gray -printer &quot;${PrinterPath}&quot; ${Landscape?-landscape:-portrait} &quot;${FilePath}&quot;" />
			</CommandLine>
		</Extension>
		-->
	</Configuration>
</UltimoConfigurationFile>