<UltimoConfigurationFile>
  <Configuration Name="default">
		<ConfigurationLocation Value="{bin}\..\TestConfigurations\" />
		<ApplicationName Value="UMM" />
		<DTAPStreetPosition Value="Production" />
		<InstalledLanguagePacks Value="NL,EN,DE,FR" />		
		<ActiveConfiguration Value="default" />
  </Configuration>
</UltimoConfigurationFile>