<UltimoConfigurationFile>
	<Configuration Name="default">
		<ViewConfigurationCategories>
			<ViewConfigurationCategory Name="Cad" Source="CadViewConfigurations" />
			<ViewConfigurationCategory Name="Dialogs" Source="DialogConfigurations" />
		</ViewConfigurationCategories>
	</Configuration>
</UltimoConfigurationFile>